    <footer>
      <div id='footer'>
        <div id='follow' align='center'>
          Follow us!
        </div>

        <div id='social' align='center'>
          <a href="{{footer.facebook}}" class="fa fa-facebook"></a>
          <a href="{{footer.twitter}}" class="fa fa-twitter"></a>
          <a href="{{footer.youtube}}"  class="fa fa-youtube"></a>
        </div>

        <div id='legal' align='center'>
          <a href="{{url_for(footer.detail_func, link=footer.privacy_policy)}}">Privacy Policy </a> | <a href="{{url_for(footer.detail_func, link=footer.disclaimer)}}"> Disclaimer</a>
        </div>

        <div id='copyright' align='center'>
          Copyright © 2008 Trinity International College - All Rights Reserved
        </div>

    </footer>
