<!DOCTYPE html>
  <head>
    <title>Trinity Website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

 </head>

  <body>

    <div class='container'>

      <div class="panel panel-default">
        <div class="notice panel-heading main-panel"><a>Notice</a></div>
        <div class="panel-body"><a>First term Exam 2076</a></div>
        <div class="panel-body"><a>Routine of second term</a></div>
        <div class="panel-body"><a>Bus schedule for students</a></div>
        <div class="panel-body"><a>More</a></div>
      </div>

      <div class="panel panel-default">
        <div class="event panel-heading main-panel"><a>Events</a></div>
        <div class="panel-body"><a>First term Exam 2076</a></div>
        <div class="panel-body"><a>Routine of second term</a></div>
        <div class="panel-body"><a>Bus schedule for students</a></div>
        <div class="panel-body"><a>More</a></div>
      </div>

      <div class="panel panel-default">
        <div class="news panel-heading main-panel"><a>News</a></div>
        <div class="panel-body"><a>First term Exam 2076</a></div>
        <div class="panel-body"><a>Routine of second term</a></div>
        <div class="panel-body"><a>Bus schedule for students</a></div>
        <div class="panel-body"><a>More</a></div>
      </div>

    </div>

    <footer>
      <div id='footer'>
      
        <div id='follow' align='center'>
          Follow Us!
        </div>

        <div id='social' align='center'>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-youtube"></a>
        </div>

        <div id='legal' align='center'>
          <a>Privacy Policy </a> | <a> Disclaimer</a>
        </div>

        <div id='copyright' align='center'>
          Copyright © 2008 Trinity International College - All Rights Reserved
        </div>

    </footer>


   <script src="scripts/jquery.min.js"></script>
   <script src="scripts/bootstrap.min.js"></script>

  </body>
</html>
