    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Trinity Int'l College</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            {% for nav_item in main_navs %}
              {% if nav_item.name == "Home" %}
                <li class="active">
                  <a href="{{url_for('home')}}">
              {% else %}
                <li>
                  <a href="{{nav_item.link}}">
              {%endif%}
                    {{nav_item.name}}
                  </a>
                </li>
            {% endfor %}
             
            {% for nav_name, nav_items in nested_navs.items() %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  {{nav_name}}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  {% for item in nav_items %}
                  <li><a href="{{item.link}}" target="_blank">{{item.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}

            </li>
          </ul>
        </div>

      </div>
    </nav>
