    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Trinity Int'l College</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{nav[0].link}}">{{nav[0].name}}</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{nav[1].keys()[0]}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Photo Gallery</a></li>
                <li><a href="#">Video Gallery</a></li>
              </ul>
        </div>

      </div>
    </nav>

