.main-panel a{
  text-decoration: none;
  color:black;
}

.panel-heading {
  background-color:#f8af15 !important;
}

/*
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
*/

body {
  flex: 1;
}

#footer,
#copyright,
#follow,
#social,
#social a,
#legal{
  margin: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


/* Changes for events only */

.withdate {
  float: left;
  border-right: 1px solid #EBB700;
  margin-right: 10px;
  margin-top: 20px;
}

.engname {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  padding: 0px 10px;
  color: #000000;
}

.date {
  font-size: 13px;
  text-align: center;
  color: #000000;
}

.nepname {
  background: #970707;
  color: #fff;
  width: 70px;
  text-align: center;
  font-size: 11px;
}

.withtitle {
  float: left;
  width: 60%;
  overflow: hidden;
  margin-left: 5px;
}

.eventtitle {
  padding: 10px 0px 5px 10px;
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
}

.withtitle p {
  color: #000000;
  padding: 0px 10px;
  color: #b20000;
}

.eventtitle a{
  text-decoration: none;
}

/* Events end */
#content_head{
  background-color: #f8af15;
  float: left;
  color: #990000;
  font-weight: bold;
  padding: 5px 20px 5px 20px;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .container-fluid {
    width: 80%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

